@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #6C9BCF;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(89, 92, 119, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --color-alert: red;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

h3 {
    font-weight: 500;
    font-size: 0.87rem;
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}
.primary {
    color: var(--color-primary);
}

.container {
    display: grid;
    width: 99%;
    margin: 0;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
}

aside .sidebar { /* Estilo da barra lateral  */
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    height: 100vh;
    position: relative;
    transition: all 0.3s ease;
}

aside .sidebar a { /* Estilo da barra lateral  */
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 9rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

aside .sidebar a span { /* Tamanho e animação dos icones da barra lateral  */
    font-size: 2.5rem;
    transition: all 0.3s ease;
}

aside .sidebar a:last-child { /* posição do Logout */
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active { /* Estilo da barra lateral ativa  */
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

aside .sidebar a.active::before { /* Estilo do traço atras da barra ativa*/
    content: '';
    width: 6px;
    height: 126px;
    background-color: var(--color-primary);
}

aside .sidebar a.active span { /* Distancia do traço para as informações*/
    color: var(--color-primary);
    margin-left: calc(1rem - 0px);
}

aside .sidebar a:hover { /* Estilo das informações ao colocar o mouse encima */
    color: var(--color-alert); 
}

aside .sidebar a:hover span{ /* Estilo do icone ao colocar o mouse encima */
    margin-left: 0.6rem;
    color: var(--color-alert); 
}

.right-section { /* Estilo da secçao direita*/
    margin-top: 1rem;
}

.right-section .nav {
    display: flex;
    justify-content: end;
    gap: 2rem;
    flex-direction: row-reverse;
    width: 0px;
}


.right-section .dark-mode { /* Estilo da secçao direita escura */
    background-color: var(--color-light);
    display: flex;
    height: 2rem;
    width: 4rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right-section .dark-mode span { /* Estilo  dos icones Tema W/D */
    font-size: 1.5rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section .user-profile { /* Estilo do Perfil do usuario*/
    display: flex;
    text-align: center;
    margin: 0rem;
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: center;

}

.right-section .user-profile:hover { /* Animação do Perfil do usuario*/
    box-shadow: none;
}

.right-section .user-profile img { /* Estilo da Imagem do perfil do usuario*/
    width: 19rem;
    height: auto;
    margin-bottom: 0.8rem;
    border-radius: 50%;
}

.right-section .user-profile h2 { /* Estilo do bordao do usuario*/
    margin-bottom: 0.2rem;
}
